.profile-inner-left-container{
    max-width:450px;
    width:100%;
    padding-left: 20px;                  
}

.profile-inner-left-container .MuiTextField-root{
    margin: 10px 0px;
}

.profile-inner-left-container .MuiButton-root{
    margin-top: 10px;
}
.profile-inner-left-container .MuiTypography-root{
    padding: 5px 0px;
}


.profile-inner-right-container{
    flex:3; 
    display: flex; 
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
}

.profile-inner-right-container .MuiTypography-root {
    padding:30px 0px 15px 0px
}

.profile-avatar{
    width:250px;
    height:250px;
    margin:20px
}